---
import Layout from "../layouts/404Layout.astro";
---

<Layout>
  <div
    class="flex h-screen w-screen flex-col items-center justify-center space-y-4 bg-background text-white"
  >
    <h1 class="text-5xl font-bold">404</h1>
    <p>Oops! Strona, której szukasz nie istnieje.</p>
    <a href="/" title="Return home" class="font-semibold">
      Wróć na stronę główną
    </a>
  </div>
</Layout>
