---
import Layout from "../layouts/Layout.astro";
import EtapProjektu from "../components/EtapProjektu.astro";
import Project from "../components/Project.astro";

import { Projects, etapyProjektu } from "../utils/data";
import { Image } from "astro:assets";
---

<Layout title="UXberries">
  <main class="flex h-screen items-center justify-center">
    <div class="flex flex-col gap-10 text-center font-medium">
      <h1 class="text-sm uppercase leading-[0.875rem]">koło naukowe agh</h1>
      <h1 class="text-[2.125rem] leading-[3.125rem]">
        Projektujemy <br />
        <span class="text-underlight"> produkty cyfrowe</span>
      </h1>
      <p class="text-xl leading-[1.875rem]">
        <span class="text-underlight">
          Dla startupu, koła naukowego, <br />
          firmy, usługi, bloga, portfolio. <br />
        </span>
        Szybko i niezawodnie!
      </p>
    </div>
  </main>
  <section id="o-nas">
    <h1>O nas</h1>
  </section>
  <section id="etapy-projektu" class="mx-8 mb-32">
    <h1 class="mb-10 text-[34px] leading-[34px]">Etapy Projektu</h1>
    <div class="flex snap-x snap-mandatory overflow-x-auto">
      {
        etapyProjektu.map((tile) => (
          <div class="mr-4 shrink-0 snap-start first:ml-auto last:mr-auto">
            <EtapProjektu {...tile} />
          </div>
        ))
      }
    </div>
  </section>
  <section id="portfolio" class="mx-8">
    <h1 class="mb-10 text-[34px] leading-[34px]">Portfolio</h1>
    {Projects.map((project) => <Project {...project} />)}
  </section>
  <div
    class="relative mx-auto mb-32 h-[311px] w-[300px] overflow-hidden rounded-[10px] bg-block px-5 py-10"
  >
    <div
      class="absolute inset-0 z-30 h-full w-full bg-gradient-to-t from-block"
    >
    </div>
    <h1
      class="relative z-50 mb-[60px] text-[1.625rem] font-medium italic leading-8"
    >
      Czy wiesz, że...
    </h1>
    <Image
      class="absolute inset-0 -top-5 z-10 h-full w-full object-cover"
      src={"/grid.svg"}
      alt="grid"
      width={300}
      height={311}
    />
    <Image
      class="absolute right-0 top-8 z-20 h-[115px] w-[115px]"
      src={`/questionmark.svg`}
      alt="questionmark"
      width={205}
      height={205}
    />
    <p class="relative z-50 w-[20ch] text-lg">
      UXberries to jedyny gatunek jagód, który z pasją zajmuje się designem i
      potrafi projektować strony, z których da radę korzystać każdy?
    </p>
  </div>
  <footer>
    <div class="relative flex flex-col bg-white p-10 text-black">
      <h1 class="mt-1 text-center uppercase">Chcesz z nami</h1>
      <h1 class="mb-10 text-center uppercase">Współpracować?</h1>

      <Image
        class="absolute inset-0 z-10 h-full w-full object-cover"
        src={"/grid1.svg"}
        alt="grid"
        width={360}
        height={300}
      />

      <div class="mx-auto">
        <h1 class="mb-4 text-4xl">Napisz do nas</h1>
        <div class="mb-10 h-1 w-full bg-secondary-purple"></div>
      </div>

      <button class="mx-auto rounded-[10px] bg-secondary-purple p-5 text-white"
        ><Image
          src={"/right_arr.svg"}
          alt="right arrow"
          width={11}
          height={11}
        /></button
      >
    </div>
    <div
      class="h-[333px] w-full bg-[url('/footer_background.svg')] bg-cover bg-no-repeat p-11"
    >
      <div class="mb-11 flex justify-between">
        <Image
          src="/uxberries_short.svg"
          width={67}
          height={65}
          alt="UXberries logo"
        />
        <div class="grid place-items-center gap-x-5">
          <h1 class="col-span-3 text-xs text-underlight">Wspierają nas:</h1>
          <Image alt="agh logo" src="/agh.svg" width={13} height={26} />
          <Image alt="wh logo" src="/wh_agh.svg" width={16} height={18} />
          <Image
            alt="edisonda logo"
            src="/edisonda.svg"
            width={38}
            height={7}
          />
        </div>
      </div>
      <p>
        <span class="underline">uxberries@gmail.com</span>
        <br />
        ul. Czarnowiejska 36 <br />
        Budynek C-7, <br />
        30-054, Kraków <br />
        <br />
        <a href="" class="font-medium">Zobacz na mapie &rarr;</a>
      </p>
    </div>
  </footer></Layout
>
