---
import Layout from "../layouts/Layout.astro";
import EtapProjektu from "../components/EtapProjektu.astro";

import { etapyProjektu } from "../utils/data";
---

<Layout title="UXberries">
  <main class="flex h-screen items-center justify-center">
    <div class="flex flex-col gap-10 text-center font-medium">
      <h1 class="text-sm uppercase leading-[0.875rem]">koło naukowe agh</h1>
      <h1 class="text-[2.125rem] leading-[3.125rem]">
        Projektujemy <br />
        <span class="text-underlight"> produkty cyfrowe</span>
      </h1>
      <p class="text-xl leading-[1.875rem]">
        <span class="text-underlight">
          Dla startupu, koła naukowego, <br />
          firmy, usługi, bloga, portfolio. <br />
        </span>
        Szybko i niezawodnie!
      </p>
    </div>
  </main>
  <section id="o-nas">
    <h1>O nas</h1>
  </section>
  <section id="etapy-projektu" class="mx-8">
    <h1 class="mb-10 text-4xl">Etapy Projektu</h1>
    <div class="flex snap-x snap-mandatory overflow-x-auto">
      {
        etapyProjektu.map((tile) => (
          <div class="mr-4 shrink-0 snap-start first:ml-auto last:mr-auto">
            <EtapProjektu {...tile} />
          </div>
        ))
      }
    </div>
  </section></Layout
>
<footer></footer>
