---
import Layout from "../layouts/Layout.astro";
import EtapProjektu from "../components/EtapProjektu.astro";
import Project from "../components/Project.astro";
import ArriveSoon from "../components/ArriveSoon.astro";

import { Projects, etapyProjektu } from "../utils/data";
import { Image } from "astro:assets";
import Tag from "../components/Tag.astro";
---

<Layout title="UXberries">
  <main class="flex h-screen items-center justify-center overflow-x-hidden">
    <div
      class="absolute inset-0 z-0 w-screen bg-[url('/grid.png')] bg-cover opacity-20"
    >
    </div>
    <div
      class="absolute inset-0 z-[5] w-full bg-gradient-to-b from-main-purple via-main-purple/30"
    >
    </div>
    <div
      class="relative z-10 flex flex-col gap-10 text-center font-medium md:gap-6"
    >
      <h1 class="text-sm uppercase leading-[0.875rem]">koło naukowe agh</h1>
      <h1
        class="text-[2.125rem] leading-[3.125rem] md:text-[64px] md:leading-[72px]"
      >
        Projektujemy <br />
        <span class="text-underlight"> produkty cyfrowe</span>
      </h1>
      <p class="text-xl leading-[1.875rem]">
        <span class="text-underlight">
          Dla startupu, koła naukowego, <br class="md:hidden" />
          firmy, usługi, <br class="hidden md:block" />
          bloga, portfolio. <br class="md:hidden" />
        </span>
        Szybko i niezawodnie!
      </p>
    </div>
  </main>

  <div
    class="relative z-20 -mt-9 mb-32 min-h-48 w-screen bg-background md:mb-44 lg:-mt-[186px]"
  >
    <div
      class="flex justify-between overflow-auto py-4 md:mx-auto md:max-w-6xl md:py-12"
  >
    <div class="my-4 flex gap-4 px-8">
      <Tag type="multi-page" />
      <Tag type="landing" />
      <Tag type="wizytówka" />
      <Tag type="e-commerce" />
      <Tag type="branding" />
    </div>
    <div class="hidden items-center gap-6 md:flex">
      <div
        class="flex aspect-square w-[75px] justify-center rounded-full bg-inblock"
      >
        <Image src="/figma.svg" alt="figma" width={20} height={30} />
      </div>
      <div
        class="flex aspect-square w-[75px] justify-center rounded-full bg-inblock"
      >
        <Image
          src="/adobe_cc.svg"
          alt="adobe creative cloud"
          width={39}
          height={29}
        />
      </div>
      <div
        class="flex aspect-square w-[75px] justify-center rounded-full bg-inblock"
      >
        <Image src="/miro.svg" alt="miro" width={28} height={27} />
      </div>
    </div>
  </div>
  </div>

  <section
    id="o-nas"
    class="mx-8 max-w-6xl md:mx-auto md:mb-44 md:grid md:grid-cols-2 md:gap-6 md:text-[18px] md:leading-7"
  >
    <h1 class="mb-10 text-[34px] md:mb-[70px] md:text-[64px]">O nas</h1>
    <div
      class="mb-8 hidden overflow-hidden rounded-[20px] bg-block md:row-span-2 md:mb-0 md:block"
    >
      <div class="relative h-[370px] w-full">
        <div
          class="absolute inset-0 left-[1px] h-full w-full bg-[url('/grid.png')]"
        >
        </div>
        <div
          class="absolute inset-0 z-20 h-full w-full bg-gradient-to-t from-block from-20% to-block/70"
        >
        </div>
      </div>

      <p class="px-10 pb-10 text-[18px] leading-[26px]">
        <span class="text-underlight">
          Nasi członkowie studiują na kierunkach związanych
        </span>
        z designem, grafiką, marketingiem i badaniami — czyli wszystkim, co jest
        potrzebne do stworzenia produktu cyfrowego, który pomoże w osiągnięciu Twoich
        celów.
      </p>
    </div>
    <div
      class="mb-8 overflow-hidden rounded-[10px] bg-block md:mb-0 md:rounded-[20px]"
    >
      <p
        class="max-w-[90%] px-5 pt-8 text-[18px] leading-[26px] md:px-10 md:pt-10"
      >
        Dbamy o jakość wykonywanych projektów,
        <span class="text-underlight">
          dlatego organizujemy szkolenia i warsztaty dla naszych członków,
        </span>
        prowadzone przez osoby ze znanych Polskich agencji.
      </p>

      <div class="relative h-60 w-full">
        <div
          class="absolute inset-0 left-[1px] h-full w-full bg-[url('/grid.png')]"
        >
        </div>
        <div
          class="absolute inset-0 z-20 h-full w-full bg-gradient-to-b from-block from-20% to-block/70"
        >
        </div>
      </div>
    </div>
    <div
      class="mb-8 rounded-[10px] bg-block md:col-span-2 md:mb-0 md:rounded-[20px]"
    >
      <Image
        class="max-h-[278px] rounded-[10px] object-cover"
        src="/o-nas/1.webp"
        alt="projekty"
        width={2000}
        height={1333}
      />
      <div class="md: px-5 py-8 md:flex md:justify-between md:px-10 md:py-10">
        <p class="md:max-w-[62.5%]">
          <span class="text-underlight">
            Na początku każdego roku akademickiego
          </span>
          szkolimy nowych członków z metod oraz praktyk UX i UI, jak i grafiki,
          <span class="text-underlight">
            poprzez różnorodne projekty wdrożeniowe oraz warsztaty.
          </span>
          Dzięki temu posiadamy wykwalifikowane osoby, gotowe do zrealizowania Twojego
          projektu oraz podjęcia pracy w zawodzie projektanta.
        </p>

        <div class="md:text- mt-8 flex justify-end md:items-end">
          <a href=""
            >Zobacz projekty <Image
              src="/arrow-right-up.svg"
              alt="arrow"
              width="16"
              height="16"
              class="-mt-1 inline-block h-4 w-4 align-middle"
            /></a
          >
        </div>
      </div>
    </div>
    <div class="mb-8 rounded-[10px] bg-block px-5 py-8 md:hidden">
      <p>
        <span class="text-underlight">
          Nasi członkowie studiują na kierunkach związanych
        </span>
        z designem, grafiką, marketingiem i badaniami — czyli wszystkim, co jest
        potrzebne do stworzenia produktu cyfrowego, który pomoże w osiągnięciu Twoich
        celów.
      </p>
    </div>
    <div
      class="mb-8 max-h-[450px] overflow-hidden rounded-[10px] bg-block md:col-span-2 md:mb-0 md:rounded-[20px]"
    >
      <div class="md:flex">
        <Image
          class="max-h-[300px] rounded-[10px] object-cover md:max-h-[450px] md:max-w-lg"
          src="/o-nas/2.webp"
          alt="projekty"
          width={2000}
          height={1333}
        />
        <div class="md:w-full">
          <div class="relative hidden h-60 w-full lg:block">
            <div
              class="absolute inset-0 left-[1px] h-full w-full bg-[url('/grid.png')]"
            >
            </div>
            <div
              class="absolute inset-0 z-20 h-full w-full bg-gradient-to-t from-block from-0% to-block/70"
            >
            </div>
            <div
              class="absolute z-30 flex h-full w-full items-center justify-center"
            >
              <div
                class="rounded-[10px] border border-white/30 bg-inblock px-7 py-4 lg:px-32 lg:py-7"
              >
                <Image
                  src={"/csux_long.svg"}
                  alt="csux"
                  width={263}
                  height={19}
                />
              </div>
            </div>
          </div>
          <div class="px-5 pb-8 pt-8 md:px-10 lg:pt-0">
            <p class="md:max-w-[92%]">
              <span class="text-underlight">
                Przyczyniamy się również do poszerzania wiedzy osób spoza
                naszego zespołu,
              </span>
              dlatego do roku organizujemy konferencje i spotkania projektantów,
              na których każdy ma możliwość zapoznać się z zawodem designera oraz
              porozmawiać z zawodowcami z wieloletnim doświadczeniem w branży.
            </p>
            <div class="mt-8 flex justify-end">
              <a href=""
                >Więcej <img
                  src="/arrow-right-up.svg"
                  alt="arrow"
                  width="16"
                  height="16"
                  class="-mt-1 inline-block h-4 w-4 align-middle"
                /></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="etapy-projektu" class="mx-8 mb-32 md:mx-36 md:mb-44">
    <h1 class="mb-10 text-[34px] leading-[34px] md:text-[64px]">
      Etapy Projektu
    </h1>
    <div class="flex snap-x snap-mandatory overflow-x-auto">
      {
        etapyProjektu.map((tile) => (
          <div class="mr-4 shrink-0 snap-start first:ml-auto last:mr-auto">
            <EtapProjektu {...tile} />
          </div>
        ))
      }
    </div>
  </section>
  <section id="portfolio" class="mx-8 md:mx-36 md:mb-32">
    <h1 class="mb-10 text-[34px] leading-[34px] md:text-[64px]">Portfolio</h1>
    {
      Projects.map((project) => {
        return project.isArriveSoon === false ? (
          <Project {...project} />
        ) : (
          <ArriveSoon title={project.title} />
        );
      })
    }
  </section>
  <div
    class="relative mx-auto mb-32 w-[300px] overflow-hidden rounded-[10px] bg-block px-5 py-10 md:mx-36 md:mb-44 md:w-auto md:rounded-[20px] md:px-24 md:py-[77px]"
  >
    <div
      class="absolute inset-0 -top-5 left-[1px] h-full w-full bg-[url('/grid.png')]"
    >
    </div>
    <div
      class="absolute inset-0 z-20 h-full w-full bg-gradient-to-t from-block from-20% to-block/70"
    >
    </div>
    <h1
      class="relative z-50 mb-[60px] text-[1.625rem] font-medium italic leading-8 md:mb-11 md:text-[40px] md:leading-[64px]"
    >
      Czy wiesz, że...
    </h1>
    <Image
      class="absolute right-0 top-8 z-30 aspect-square h-[115px] md:-right-3 md:top-3 md:h-[180px]"
      src={`/questionmark.svg`}
      alt="questionmark"
      width={180}
      height={180}
    />
    <p
      class="relative z-50 w-[20ch] text-lg md:w-auto md:text-[26px] md:leading-8"
    >
      UXberries to jedyny gatunek jagód, który z pasją zajmuje się designem i
      potrafi projektować strony, z których da radę korzystać każdy?
    </p>
  </div>
  <footer>
    <div
      class="relative flex flex-col overflow-x-hidden bg-white p-10 text-black md:grid md:grid-cols-5 md:px-2 md:py-28 lg:px-36"
    >
      <span
        class="relative z-10 text-center text-[18px] uppercase md:flex md:flex-col md:justify-center md:text-left"
      >
        <h1 class="mt-1 md:m-0">Chcesz z nami</h1>
        <h1 class="mb-10 md:m-0">Współpracować?</h1>
      </span>

      <div
        class="absolute -right-3 top-0 h-full w-1/2 bg-[url('/grid_white.png')]"
      >
      </div>
      <div
        class="absolute right-0 top-0 h-full w-3/5 bg-gradient-to-r from-white to-white/60"
      >
      </div>

      <div class="relative z-10 mx-auto md:col-span-3">
        <h1 class="mb-4 text-4xl md:mb-5 md:text-6xl">Napisz do nas</h1>
        <div class="mb-10 h-1 w-full bg-secondary-purple md:m-0"></div>
      </div>

      <span
        class="relative z-10 mx-auto md:flex md:items-center md:justify-end"
      >
        <button
          class="mx-auto rounded-[10px] bg-secondary-purple p-5 text-white md:m-0 md:p-6"
        >
          <img
            width="22"
            height="22"
            src="/arrow-right-up.svg"
            class="h-4 w-4 rotate-45 align-middle md:h-6 md:w-6"
            alt="arrow"
          />
        </button>
      </span>
    </div>
    <div
      class="h-[333px] w-full bg-[url('/footer/footer_background.svg')] bg-cover bg-no-repeat p-11 lg:grid lg:h-[300px] lg:grid-cols-4 lg:gap-12 lg:py-[72px] lg:text-[18px]"
    >
      <div class="mb-11 flex justify-between lg:mb-0 lg:justify-center">
        <Image
          src="/footer/uxberries_short_white.svg"
          width={93}
          height={90}
          alt="UXberries logo"
          class="h-16 w-16 lg:h-24 lg:w-24 lg:place-self-center"
        />
        <div class="grid place-items-center gap-x-5 lg:hidden">
          <h1 class="col-span-3 text-xs text-underlight">Wspierają nas:</h1>
          <Image alt="agh logo" src="/footer/agh.svg" width={13} height={26} />
          <Image
            alt="wh logo"
            src="/footer/wh_agh.svg"
            width={16}
            height={18}
          />
          <Image
            alt="edisonda logo"
            src="/footer/edisonda.svg"
            width={38}
            height={7}
          />
        </div>
      </div>
      <p class="lg:flex lg:flex-col lg:text-left">
        <span class="underline">uxberries@gmail.com</span>
        <br />
        ul. Czarnowiejska 36 <br />
        Budynek C-7, <br />
        30-054, Kraków <br />
        <span class="lg:mb-10"></span>
        <a href="" class="relative font-medium">
          <span class="mr-1"> Zobacz na mapie </span>
          <img
            src="/arrow-right-up.svg"
            alt="arrow"
            width="16"
            height="16"
            class="-mt-0.5 inline-block h-4 w-4 align-middle"
          />
        </a>
      </p>
      <div class="hidden lg:block">
        <h1 class="mb-8">Zaobserwuj nas!</h1>
        <div class="grid grid-cols-3 place-content-between">
          <a href="" title="facebook">
            <Image
              alt="facebook logo"
              src="/footer/facebook.svg"
              width={25}
              height={25}
            />
          </a>
          <a href="" title="behance">
            <Image
              alt="behance logo"
              src="/footer/behance.svg"
              width={25}
              height={25}
            />
          </a>
          <a href="" title="linkedin">
            <Image
              alt="linkedin logo"
              src="/footer/linkedin.svg"
              width={25}
              height={25}
            />
          </a>
        </div>
      </div>
      <div class="hidden flex-col items-center justify-center gap-6 lg:flex">
        <h1 class="text-underlight">Wspierają nas:</h1>
        <Image alt="agh logo" src="/footer/agh.svg" width={18} height={37} />
        <Image alt="wh logo" src="/footer/wh_agh.svg" width={22} height={25} />
        <Image
          alt="edisonda logo"
          src="/footer/edisonda.svg"
          width={70}
          height={13}
        />
      </div>
      <div class="col-span-full py-4 text-center text-[11px]">
        <p>Projekt strony wykonany przez UXBerries.</p>
        <p>
          Wykonano przez
          <a href="https://freely.digital" target="_blank"> freely.digital</a>,
          <a href="https://dsieron.pl" target="_blank">
            Dominik Sieroń
            <Image
              src="/arrow-right-up.svg"
              alt="arrow"
              width="11"
              height="11"
              class="-mt-1 inline-block h-[11px] w-[11px] align-middle"
            />
          </a>
        </p>
        <p>
          &copy; {new Date().getFullYear()} UXBerries. All rights reserved.
        </p>
      </div>
    </div>
  </footer>
</Layout>
