---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import EtapProjektu from "../components/EtapProjektu.astro";
import Project from "../components/Project.astro";
import EtapyProjektu from "../components/EtapyProjektu.tsx";
import Tag from "../components/Tag.astro";

import { projects, etapyProjektu } from "../utils/data";
---

<Layout title="UXberries">
  <main class="flex h-[43rem] items-center justify-center">
    <div
      class="absolute inset-0 z-0 h-[43rem] bg-[url('/grid_main.png')] opacity-20"
    >
    </div>
    <div
      class="via-secondary-purple/20% absolute inset-0 z-[1] h-[43rem] w-full bg-gradient-to-b from-secondary-purple/70 from-0% via-secondary-purple/30 via-30%"
    >
    </div>
    <div
      class="relative z-[2] flex flex-col gap-10 text-center font-medium md:gap-6"
    >
      <h1 class="text-sm uppercase leading-[0.875rem]">koło naukowe agh</h1>
      <h1
        class="text-[2.125rem] leading-[3.125rem] md:text-[4rem] md:leading-[4.5rem]"
      >
        Projektujemy <br />
        <span class="text-underlight"> produkty cyfrowe</span>
      </h1>
      <p class="text-xl leading-[1.875rem]">
        <span class="text-underlight">
          Dla startupu, koła naukowego, <br class="md:hidden" />
          firmy, usługi, <br class="hidden md:block" />
          bloga, portfolio. <br class="md:hidden" />
        </span>
        Szybko i niezawodnie!
      </p>
    </div>
  </main>

  <div class="mb-24 bg-background md:mb-44 md:min-h-48">
    <div
      class="flex justify-between overflow-auto py-4 md:py-12 xl:mx-auto xl:max-w-6xl"
    >
      <div class="my-4 flex gap-4 px-8">
        <Tag type="multi-page" />
        <Tag type="landing" />
        <Tag type="wizytówka" />
        <Tag type="e-commerce" />
        <Tag type="branding" />
      </div>
      <div class="hidden items-center gap-6 md:flex">
        <div
          class="flex aspect-square w-[75px] items-center justify-center rounded-full bg-inblock"
        >
          <Image
            src="/figma.svg"
            alt="figma"
            width={20}
            height={30}
            loading="eager"
          />
        </div>
        <div
          class="flex aspect-square w-[75px] items-center justify-center rounded-full bg-inblock"
        >
          <Image
            src="/adobe_cc.svg"
            alt="adobe creative cloud"
            width={39}
            height={29}
            loading="eager"
          />
        </div>
        <div
          class="flex aspect-square w-[75px] items-center justify-center rounded-full bg-inblock"
        >
          <Image
            src="/miro.svg"
            alt="miro"
            width={28}
            height={27}
            loading="eager"
          />
        </div>
      </div>
    </div>
  </div>

  <section
    id="o-nas"
    class="mx-8 mb-32 lg:mb-44 lg:grid lg:grid-cols-2 lg:gap-y-6 lg:text-[1.125rem] lg:leading-7 xl:mx-auto xl:max-w-6xl"
  >
    <h1
      class="mb-10 text-[2.125rem] md:text-[4rem] md:leading-[3rem] lg:mb-[4.375rem]"
    >
      O nas
    </h1>
    <div
      class="mb-8 hidden overflow-hidden rounded-[1.25rem] bg-block lg:row-span-2 lg:-ml-10 lg:mb-0 lg:block lg:min-w-[505px]"
    >
      <div class="relative h-[23.125rem] w-full">
        <div
          class="absolute inset-0 left-[1px] h-full w-full bg-[url('/grid.png')]"
        >
        </div>
        <div class="absolute inset-0 z-20 h-full w-full bg-block/70"></div>
        <Image
          class="absolute bottom-11 left-7 z-30"
          src={"/o-nas/lupa2.svg"}
          alt="lupa"
          width={150}
          height={150}
          loading="eager"
        />
        <Image
          class="absolute left-44 top-16 z-30"
          src={"/o-nas/linijka2.svg"}
          alt="linijka"
          width={115}
          height={115}
          loading="eager"
        />
        <Image
          class="absolute bottom-5 right-1/4 z-30"
          src={"/o-nas/pedzel.svg"}
          alt="pedzel"
          width={175}
          height={175}
          loading="eager"
        />
        <Image
          class="absolute right-0 top-5 z-30"
          src={"/o-nas/klik.svg"}
          alt="kursor"
          width={155}
          height={155}
          loading="eager"
        />
        <div
          class="absolute inset-0 z-40 h-full w-full bg-gradient-to-t from-block/90"
        >
        </div>
      </div>

      <p class="px-10 pb-10 text-[1.125rem] leading-[1.625rem]">
        <span class="text-underlight">
          Nasi członkowie studiują na kierunkach związanych
        </span>
        z designem, grafiką, marketingiem i badaniami — czyli wszystkim, co jest
        potrzebne do stworzenia produktu cyfrowego, który pomoże w osiągnięciu Twoich
        celów.
      </p>
    </div>
    <div
      class="mb-8 overflow-hidden rounded-[0.625rem] bg-block lg:mb-0 lg:max-w-[28rem] lg:rounded-[1.25rem] xl:max-w-[31.875rem]"
    >
      <p
        class="px-5 pt-8 text-[1.125rem] leading-[1.625rem] lg:max-w-[90%] lg:px-10 lg:pt-10"
      >
        Dbamy o jakość wykonywanych projektów,
        <span class="text-underlight">
          dlatego organizujemy szkolenia i warsztaty dla naszych członków,
        </span>
        prowadzone przez osoby ze znanych Polskich agencji.
      </p>

      <div class="relative -bottom-1 h-[279px] w-full lg:h-60">
        <div
          class="absolute inset-0 -left-14 h-full w-[calc(100%_+_56px)] bg-[url('/grid.png')] lg:left-[1px]"
        >
        </div>
        <div class="absolute inset-0 z-20 h-full w-full bg-block/70"></div>
        <div
          class="absolute inset-0 z-30 h-1/5 w-full bg-gradient-to-b from-block"
        >
        </div>
        <div
          class="absolute bottom-0 z-30 h-1/5 w-full bg-gradient-to-t from-block"
        >
        </div>
        <div
          class="absolute inset-0 z-30 h-full w-1/2 bg-gradient-to-r from-block/70"
        >
        </div>
        <div
          class="absolute right-0 top-0 z-30 h-full w-1/2 bg-gradient-to-l from-block/70"
        >
        </div>
        <div
          class="absolute left-4 top-4 z-20 flex h-[73px] w-[145px] items-center justify-center rounded-[0.625rem] border border-white/30 bg-inblock sm:left-9 sm:top-14"
        >
          Netguru
        </div>
        <div
          class="absolute left-40 top-[5.625rem] z-20 flex h-[73px] w-[145px] items-center justify-center rounded-[0.625rem] border border-white/30 bg-inblock sm:left-[11.25rem] sm:top-[7.875rem]"
        >
          Edisonda
        </div>
        <div
          class="absolute bottom-11 left-4 z-20 flex h-[73px] w-[145px] items-center justify-center rounded-[0.625rem] border border-white/30 bg-inblock sm:left-[20.25rem] sm:top-14"
        >
          Miquido
        </div>
      </div>
    </div>
    <div
      class="mb-8 rounded-[0.625rem] bg-block lg:col-span-2 lg:mb-0 lg:rounded-[1.25rem]"
    >
      <Image
        class="max-h-[17.375rem] rounded-[0.625rem] object-cover"
        src="/o-nas/1.webp"
        alt="projekty"
        width={2000}
        height={1333}
      />
      <div class="px-5 py-8 lg:flex lg:justify-between lg:px-10 lg:py-10">
        <p class="lg:max-w-[62.5%]">
          <span class="text-underlight">
            Na początku każdego roku akademickiego
          </span>
          szkolimy nowych członków z metod oraz praktyk UX i UI, jak i grafiki,
          <span class="text-underlight">
            poprzez różnorodne projekty wdrożeniowe oraz warsztaty.
          </span>
          Dzięki temu posiadamy wykwalifikowane osoby, gotowe do zrealizowania Twojego
          projektu oraz podjęcia pracy w zawodzie projektanta.
        </p>

        <div class="mt-8 flex justify-end lg:items-end">
          <a
            href="https://www.behance.net/uxberries"
            target="_blank"
            title="Zobacz projekty"
            >Zobacz projekty <Image
              src="/arrow-right-up.svg"
              alt="arrow"
              width="16"
              height="16"
              class="-mt-1 inline-block h-4 w-4 align-middle"
            /></a
          >
        </div>
      </div>
    </div>
    <div class="mb-8 overflow-hidden rounded-[0.625rem] bg-block lg:hidden">
      <div class="relative h-[23.125rem] w-full">
        <div
          class="absolute inset-0 left-[1px] h-full w-full bg-[url('/grid.png')]"
        >
        </div>
        <div class="absolute inset-0 z-20 h-full w-full bg-block/70"></div>
        <Image
          class="absolute left-9 top-9 z-30"
          src={"/o-nas/lupa2.svg"}
          alt="lupa"
          width={105}
          height={105}
          loading="eager"
        />
        <Image
          class="absolute right-[19%] top-[7.625rem] z-30"
          src={"/o-nas/linijka2.svg"}
          alt="linijka"
          width={80}
          height={80}
          loading="eager"
        />
        <Image
          class="absolute left-6 top-48 z-30"
          src={"/o-nas/pedzel.svg"}
          alt="pedzel"
          width={122}
          height={122}
          loading="eager"
        />
        <Image
          class="absolute bottom-5 right-[8%] z-30"
          src={"/o-nas/klik2.svg"}
          alt="kursor"
          width={108}
          height={108}
          loading="eager"
        />
        <div
          class="absolute inset-0 z-40 h-full w-full bg-gradient-to-t from-block/90"
        >
        </div>
      </div>
      <p class="px-5 pb-8">
        <span class="text-underlight">
          Nasi członkowie studiują na kierunkach związanych
        </span>
        z designem, grafiką, marketingiem i badaniami — czyli wszystkim, co jest
        potrzebne do stworzenia produktu cyfrowego, który pomoże w osiągnięciu Twoich
        celów.
      </p>
    </div>
    <div
      class="mb-8 overflow-hidden rounded-[0.625rem] bg-block lg:col-span-2 lg:mb-0 lg:rounded-[1.25rem]"
    >
      <div class="h-full lg:flex">
        <Image
          class="h-full rounded-[0.625rem] object-cover lg:max-w-lg"
          src="/o-nas/2.webp"
          alt="projekty"
          width={2000}
          height={1333}
        />
        <div class="lg:w-full">
          <div class="relative hidden h-60 w-full lg:block">
            <div
              class="absolute inset-0 left-[1px] h-full w-full bg-[url('/grid.png')]"
            >
            </div>
            <div
              class="absolute inset-0 z-20 h-full w-full bg-gradient-to-t from-block from-0% to-block/70"
            >
            </div>
            <div
              class="absolute z-30 flex h-full w-full items-center justify-center"
            >
              <div
                class="rounded-[0.625rem] border border-white/30 bg-inblock px-7 py-4 lg:px-32 lg:py-7"
              >
                <Image
                  src={"/o-nas/csux_long.svg"}
                  alt="csux"
                  width={263}
                  height={19}
                  loading="eager"
                />
              </div>
            </div>
          </div>
          <div class="px-5 pt-8 lg:px-10 lg:pt-0">
            <p class="lg:max-w-[92%]">
              <span class="text-underlight">
                Przyczyniamy się również do poszerzania wiedzy osób spoza
                naszego zespołu,
              </span>
              dlatego do roku organizujemy konferencje i spotkania projektantów,
              na których każdy ma możliwość zapoznać się z zawodem designera oraz
              porozmawiać z zawodowcami z wieloletnim doświadczeniem w branży.
            </p>
            <div class="my-8 flex justify-end lg:mb-10">
              <a
                href="https://facebook.com/events/s/ciemna-strona-ux-8-odkryj-przy/1366335390605992/"
                title="Ciemna strona UX 8"
                target="_blank"
                >Więcej <Image
                  src="/arrow-right-up.svg"
                  alt="arrow"
                  width="16"
                  height="16"
                  class="-mt-1 inline-block h-4 w-4 align-middle"
                /></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    id="etapy-projektu"
    class="mx-8 mb-32 md:mb-44 xl:mx-auto xl:max-w-6xl"
  >
    <h1
      class="mb-10 text-[2.125rem] leading-[2.125rem] md:text-[4rem] md:leading-[3rem] lg:mb-[4.375rem]"
    >
      Etapy Projektu
    </h1>
    <div class="flex snap-x snap-mandatory overflow-x-auto lg:hidden">
      {
        etapyProjektu.map((tile) => (
          <div class="mr-4 shrink-0 snap-start first:ml-auto last:mr-auto">
            <EtapProjektu {...tile} />
          </div>
        ))
      }
    </div>
    <EtapyProjektu className="hidden lg:block" client:load />
  </section>
  <section
    id="portfolio"
    class="mx-8 px-4 md:mb-32 lg:px-0 xl:mx-auto xl:max-w-6xl"
  >
    <h1
      class="mb-10 text-[2.125rem] leading-[2.125rem] md:text-[4rem] md:leading-[3rem] lg:mb-[4.375rem]"
    >
      Portfolio
    </h1>
    {projects.map((project) => <Project {...project} />)}
  </section>
  <div
    class="relative mx-auto mb-32 w-[18.75rem] overflow-hidden rounded-[0.625rem] bg-block px-5 py-10 md:mx-8 md:mb-44 md:w-auto md:rounded-[1.25rem] md:px-24 md:py-[77px] xl:mx-auto xl:max-w-6xl"
  >
    <div
      class="absolute inset-0 -top-5 left-[1px] h-full w-full bg-[url('/grid.png')]"
    >
    </div>
    <div
      class="absolute inset-0 z-20 h-full w-full bg-gradient-to-t from-block from-20% to-block/70"
    >
    </div>
    <h1
      class="relative z-50 mb-[3.75rem] text-[1.625rem] font-medium italic leading-8 md:mb-11 md:text-[2.5rem] md:leading-[4rem]"
    >
      Czy wiesz, że...
    </h1>
    <Image
      class="absolute right-0 top-8 z-30 aspect-square h-[115px] md:-right-3 md:top-3 md:h-[11.25rem]"
      src={`/questionmark.svg`}
      alt="questionmark"
      width={180}
      height={180}
      loading="eager"
    />
    <p
      class="relative z-50 w-[20ch] text-lg md:w-auto md:text-[1.625rem] md:leading-8"
    >
      UXberries to jedyny gatunek jagód, który z pasją zajmuje się designem i
      potrafi projektować strony, z których da radę korzystać każdy?
    </p>
  </div>
  <footer>
    <div
      class="relative flex flex-col overflow-x-hidden bg-white p-10 text-black md:grid md:grid-cols-5 md:px-2 md:py-28 lg:px-36"
    >
      <span
        class="relative z-10 text-center text-[1.125rem] uppercase md:flex md:flex-col md:justify-center md:text-left"
      >
        <h1 class="mt-1 md:m-0">Chcesz z nami</h1>
        <h1 class="mb-10 md:m-0">Współpracować?</h1>
      </span>

      <div
        class="absolute -right-3 top-0 h-full w-1/2 bg-[url('/grid_white.png')]"
      >
      </div>
      <div
        class="absolute right-0 top-0 h-full w-3/5 bg-gradient-to-r from-white to-white/60"
      >
      </div>

      <div class="relative z-10 mx-auto md:col-span-3">
        <h1 class="mb-4 text-4xl md:mb-5 md:text-6xl">Napisz do nas</h1>
        <div class="mb-10 h-1 w-full bg-secondary-purple md:m-0"></div>
      </div>

      <a
        href="mailto:uxberries@gmail.com"
        class="relative z-10 mx-auto md:flex md:items-center md:justify-end"
        title="Napisz do nas!"
      >
        <button
          class="mx-auto rounded-[0.625rem] bg-secondary-purple p-5 text-white md:m-0 md:p-6"
        >
          <Image
            width="22"
            height="22"
            src="/arrow-right-up.svg"
            class="h-4 w-4 rotate-45 align-middle md:h-6 md:w-6"
            alt="arrow"
            loading="eager"
          />
        </button>
      </a>
    </div>
    <div
      class="relative h-full w-full bg-cover bg-no-repeat p-11 pb-2 lg:grid lg:grid-cols-4 lg:gap-12 lg:pt-[4.5rem] lg:text-[1.125rem]"
    >
      <div
        class="absolute inset-0 -z-10 w-full bg-gradient-to-t from-secondary-purple"
      >
      </div>
      <div
        class="absolute inset-0 -z-20 h-full w-full bg-[url('/footer/circles.svg')] bg-cover bg-center"
      >
      </div>
      <div class="mb-11 flex justify-between lg:mb-0 lg:justify-center">
        <Image
          src="/footer/uxberries_short_white.svg"
          width={93}
          height={90}
          alt="UXberries logo"
          class="h-16 w-16 lg:h-24 lg:w-24 lg:place-self-center"
        />
        <div class="grid place-items-center gap-x-5 lg:hidden">
          <h1 class="col-span-3 text-xs text-underlight">Wspierają nas:</h1>
          <Image alt="agh logo" src="/footer/agh.svg" width={13} height={26} />
          <Image
            alt="wh logo"
            src="/footer/wh_agh.svg"
            width={16}
            height={18}
          />
          <Image
            alt="edisonda logo"
            src="/footer/edisonda.svg"
            width={38}
            height={7}
          />
        </div>
      </div>
      <p class="lg:flex lg:flex-col lg:text-left">
        <a
          href="mailto:uxberries@gmail.com"
          title="Napisz do nas!"
          class="underline"
        >
          uxberries@gmail.com
        </a>
        <br />
        ul. Czarnowiejska 36 <br />
        Budynek C-7, <br />
        30-054, Kraków <br />
        <span class="lg:mb-10"></span>
        <a
          href="https://www.google.pl/maps/place/AGH+C7/@50.0663661,19.9187489,17z/data=!3m1!4b1!4m6!3m5!1s0x47165bc295523037:0x75b68b576b68747b!8m2!3d50.0663661!4d19.9213238!16s%2Fg%2F11tjzq5ygr?entry=ttu"
          class="relative font-medium"
          target="_blank"
          title="Zobacz na mapie"
        >
          <span class="mr-1"> Zobacz na mapie </span>
          <Image
            src="/arrow-right-up.svg"
            alt="arrow"
            width="16"
            height="16"
            class="-mt-0.5 inline-block h-4 w-4 align-middle"
            loading="eager"
          />
        </a>
      </p>
      <div class="hidden lg:block">
        <h1 class="mb-8">Zaobserwuj nas!</h1>
        <div class="grid grid-cols-3 place-content-between">
          <a
            href="https://www.facebook.com/UXberries/"
            title="Facebook"
            target="_blank"
          >
            <Image
              alt="facebook logo"
              src="/footer/facebook.svg"
              width={25}
              height={25}
            />
          </a>
          <a
            href="https://www.behance.net/uxberries"
            title="Behance"
            target="_blank"
          >
            <Image
              alt="behance logo"
              src="/footer/behance.svg"
              width={25}
              height={25}
            />
          </a>
          <a
            href="https://pl.linkedin.com/company/uxberries"
            title="Linkedin"
            target="_blank"
          >
            <Image
              alt="linkedin logo"
              src="/footer/linkedin.svg"
              width={25}
              height={25}
            />
          </a>
        </div>
      </div>
      <div class="hidden flex-col items-center justify-center gap-6 lg:flex">
        <h1 class="text-underlight">Wspierają nas:</h1>
        <Image alt="agh logo" src="/footer/agh.svg" width={18} height={37} />
        <Image alt="wh logo" src="/footer/wh_agh.svg" width={22} height={25} />
        <Image
          alt="edisonda logo"
          src="/footer/edisonda.svg"
          width={70}
          height={13}
        />
      </div>
      <div class="col-span-full py-4 text-center text-[11px]">
        <p>Projekt strony wykonany przez UXberries.</p>
        <p>
          Wykonano przez
          <a
            href="https://freely.digital"
            target="_blank"
            title="freely.digital"
          >
            freely.digital</a
          >,
          <a
            href="https://dsieron.pl"
            target="_blank"
            title="Dominik Sieroń, Portfolio"
          >
            Dominik Sieroń
            <Image
              src="/arrow-right-up.svg"
              alt="arrow"
              width="11"
              height="11"
              class="-mt-1 inline-block h-[11px] w-[11px] align-middle"
            />
          </a>
        </p>
        <p>
          &copy; {new Date().getFullYear()} UXberries. All rights reserved.
        </p>
      </div>
    </div>
  </footer>
</Layout>
