---
import { Image } from "astro:assets";
---

<nav class="absolute flex h-24 w-full items-center justify-center">
  <Image
    src="/logo.png"
    alt="logo"
    width="112"
    height="17"
    quality="100"
    loading="eager"
  />
</nav>
